footer {
    padding: 4vw ;
}

.copyright {
    color: gray;
}

.bi {
    font-size: 1.75vw;
    color: gray;
    transition: 0.5s;
}

.bi:hover {
    font-size: 1.75vw;
    color: white;
    transition: 0.5s;
}

