<footer class="bg-dark">
    <div class="container d-flex justify-content-between align-items-baseline">
        <p class="copyright">&#169; Victor Hernandez, Jr. 2023</p>
        <div class="links">
            <a href="http://linkedin.com/in/victorhernandezjr/" target="_blank"><i class="bi bi-linkedin"></i></a>
            <a href="https://github.com/vichdz97" class="mx-5" target="_blank"><i class="bi bi-github"></i></a>
            <a href="https://www.facebook.com/victorhernandez97/" target="_blank"><i class="bi bi-facebook"></i></a>
        </div>
    </div>
</footer>