<div class="h-screen flex flex-col items-center justify-center px-5 text-center text-dark-blue/90 bg-slate-100">
    <lucide-icon class="mb-1" name="frown" size="50vw" [strokeWidth]="1.5" />
    <span class="text-5xl md:text-6xl font-medium">Sorry!</span>
    <span class="text-lg md:text-2xl my-5">The page you're looking for <br class="md:hidden">doesn't exist.</span>
    <button class="bg-dark-blue/90 text-slate-100 px-5 py-2 rounded-xl lg:bg-transparent lg:text-dark-blue/90 lg:border lg:border-2 lg:border-dark-blue/90 lg:hover:bg-dark-blue/90 lg:hover:text-slate-100 lg:transition-colors" routerLink="/home">Go Home</button>
</div>