<div class="h-[100vh] text-dark-blue/90 flex flex-col items-center justify-center text-center md:px-20 lg:grid lg:grid-cols-4 lg:text-left lg:pt-20">
    <img id="headshot" class="hidden lg:block w-[25vw] h-[25vw] object-cover rounded-full col-span-2 self-center justify-self-center" src="assets/images/me-closeup.jpg" alt="My professional headshot" />
    <div class="text-xl sm:text-2xl flex flex-col items-center px-5 sm:px-10 lg:px-0 lg:text-[2vw] lg:items-start lg:col-span-2 lg:self-center lg:mr-20">
        <p class="mb-2 lg:mb-0">Hi there! My name is</p>
        <p class="font-medium text-2xl sm:text-3xl lg:text-[2.5vw] lg:my-5">Victor Hernandez, Jr.</p>
        <img id="headshot" class="block lg:hidden my-10 w-[45vw] h-[45vw] md:w-[30vw] md:h-[30vw] object-cover rounded-full" src="assets/images/me-closeup.jpg" alt="My professional headshot" />
        <p class="lg:leading-normal">
            A first-gen <span class="text-blue-500">software engineer</span> 
            passionate about creating interactive applications and learning new technologies. 
        </p>
        <ul class="text-blue-500 mt-10 w-full flex justify-evenly lg:justify-start sm:mt-7 lg:mt-5">
            <li class="lg:mr-10">
                <a class="transition-colors hover:text-blue-700" title="GitHub" href="https://github.com/vichdz97" target="_blank">
                    <lucide-icon name="github" [size]="32" [strokeWidth]="1.5" />
                </a>
            </li>
            <li class="lg:mr-10">
                <a class="transition-colors hover:text-blue-700" title="LinkedIn" href="http://linkedin.com/in/victorhernandezjr/" target="_blank">
                    <lucide-icon name="linkedin" [size]="32" [strokeWidth]="1.5" />
                </a>
            </li>
            <li class="lg:mr-10">
                <a class="transition-colors hover:text-blue-700" title="Facebook" href="https://www.facebook.com/victorhernandez97/" target="_blank">
                    <lucide-icon name="facebook" [size]="32" [strokeWidth]="1.5" />
                </a>
            </li>
            <li class="lg:mr-10">
                <a class="transition-colors hover:text-blue-700" title="Email" href="mailto:victorhernandezjr97@gmail.com?subject=Connecting with Victor Hernandez, Jr.">
                    <lucide-icon name="mail" [size]="32" [strokeWidth]="1.5" />
                </a>
            </li>
        </ul>
    </div>
</div>