.games {
    margin: 90px 20px 50px;
}

.box {
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px lightgray;
    max-width: fit-content;
    min-height: 450px;
}

.screenshot {
    width: 100%;
    border-radius: 20px;
    border: 0.5px solid lightgray;
}

.tech-used {
    width: 1.5em;
    margin-left: 0.4em;
}

i {
    font-size: 1.5em;
}

@media screen and (min-width: 760px) {
    .box {
        min-width: 400px;
    }

    #sameline-img {
        margin: 0 1em;
    }
}

@media screen and (min-width: 960px) {
    .box {
        max-width: 500px;
        margin: 2vw;
        padding: 2vw;
        transition: 0.5s;
    }

    .box:hover {
        box-shadow: 10px 10px 20px lightgray;
    }

    .tech-used {
        width: 2.5em;
        margin-left: 1.5vw;
    }

    i {
        font-size: 2vw;
    }
}