<div class="container">
    <div class="games">
        <h2 class="text-center">My Arcade</h2>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col box bg-light d-flex flex-column justify-content-between" *ngFor="let game of games">
                    <h4>{{ game.title }}</h4>
                    <ng-container *ngIf="!game.url; else link">
                        <img src="assets/images/{{game.img}}" alt="Screenshot of game" class="screenshot my-3">
                    </ng-container>
                    <ng-template #link>
                        <a href="{{game.url}}" target="_blank">
                            <img src="assets/images/{{game.img}}" alt="Screenshot of game" class="screenshot my-3">
                        </a>
                    </ng-template>
                    <ng-container *ngIf="game.tech.length >= 4; else sameline">
                        <h6>Technologies Used:</h6>
                        <div class="m-2 d-flex justify-content-evenly align-items-center">
                            <div *ngFor="let techName of game.tech">
                                <app-tech-logos [class]="'tech-used'" [name]="techName"></app-tech-logos>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #sameline>
                        <h6 class="d-flex align-items-center">
                            Technologies Used:
                            <div *ngFor="let techName of game.tech">
                                <app-tech-logos [class]="'tech-used'" [name]="techName"></app-tech-logos>
                            </div>
                        </h6>
                    </ng-template>
                    <p>{{ game.description }}</p>
                    <div class="d-flex justify-content-end">
                        <a href="{{game.url}}" target="_blank" class="mx-4" [hidden]="!game.url"><i class="bi bi-globe2"></i></a>
                        <a href="{{game.github}}" target="_blank"><i class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>