<ng-container *ngIf="name.includes('pokeapi'); else notPokeAPI">
    <img id={{id}} class={{class}} src="assets/logos/pokeapi.svg" alt="PokeAPI logo">
</ng-container>
<ng-template #notPokeAPI>
    <ng-container *ngIf="name.includes('amazon'); else notAWS">
        <img id={{id}} class={{class}} src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/{{name}}/{{name}}-original-wordmark.svg" alt="AWS logo" />
    </ng-container>
    <ng-template #notAWS>
        <img id={{id}} class={{class}} src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/{{name}}/{{name}}-original.svg" alt="{{name}} logo" />
    </ng-template>
</ng-template>