<div class="bg-slate-100 text-dark-blue/90 text-center px-5 py-10 sm:px-32 sm:py-24 md:text-justify">
    <h1 class="font-medium text-2xl sm:text-3xl lg:hidden">About Me</h1>
    <div class="mt-10 mb-20 flex flex-col items-center gap-x-10 gap-y-5 lg:h-screen lg:m-0 lg:grid lg:grid-cols-2">
        <img class="h-[90vw] rounded-xl shadow-md sm:h-[70vw] lg:h-[50vw]" src="assets/images/bb.jpg" alt="Me at Bad Bunny's Concert">
        <div class="h-[500px] flex flex-col justify-evenly text-xl sm:text-2xl lg:h-full lg:text-[2vw] lg:leading-normal">
            <p class="font-medium text-center text-2xl sm:text-3xl lg:text-[3vw]">Hi, I'm Victor!</p>
            <p>
                I'm a first-gen Texan of Mexican descent currently working
                as a Software Developer for Data Annotation Tech.
            </p>
            <p>
                I've spent about 
                <span class="text-blue-500">9 years</span> 
                debugging and deploying code, almost 
                <span class="text-blue-500">2 years</span> 
                doing freelance work, and over 
                <span class="text-blue-500">1 year</span> 
                of professional programming in the tech field.
                I primarily focus on single-page web applications,
                RESTful APIs, and modern JS frameworks, such as
                Angular and React.
            </p>
            <p>
                When I'm not coding, you can find me playing the Nintendo Switch with friends,
                or singing and dancing my heart out at a music festival.
            </p>
            <p>(p.s. I'm a huuuuge Bad Bunny fan!)</p>
        </div>
    </div>
</div>