<div class="about-me">
    <div class="container">
        <img class="rounded" src="assets/images/bb.jpg" alt="A picture of me at the Bad Bunny concert" id="selfie">
        <div class="biography">
            <h1 class="mb-3 text-center">Hi, I'm Victor!</h1>
            <p>
                I'm from Dallas, TX (born and raised), and I currently work
                as an AI Data Trainer for Data Annotation Tech.
            </p>
            <p>
                I have over 
                <span class="text-primary">8 years</span>
                of programming experience and over 
                <span class="text-primary">1 year</span>
                of professional experience in the tech field,
                with knowledge in single-page web applications,
                RESTful APIs, and modern JS frameworks.
            </p>
            <p>
                When I'm not coding, you can find me playing the Nintendo Switch with friends
                or singing and dancing my heart out at a music festival.
            </p>
            <p>(P.s. I'm a huuuuge Bad Bunny fan!)</p>
        </div>
    </div>
</div>