.about-me {
    margin: 5em auto 2em;
    text-align: center;
}

img {
    width: 15em;
    margin-bottom: 1.5em;
}

.biography p {
    font-size: 1.2em;
}

@media screen and (min-width: 760px) {
    img {
        width: 40vw;
    }

    .biography p {
        font-size: 3vw;
    }
}

@media screen and (min-width: 960px) {
    .about-me {
        margin: 7vw auto 5vw
    }

    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    img {
        width: 35vw;
        margin: 2vw 5vw 0;
    }
    
    .biography p {
        font-size: 2vw;
        text-align: left;
    }
}