<div class="about-me">
    <div class="container">
        <img src="assets/images/bb.jpg" alt="A picture of me at the Bad Bunny concert" id="selfie" class="rounded">
        <div class="biography">
            <h1 class="mb-3 text-center">Hi, I'm Victor!</h1>
            <p>
                I was born-and-raised in Dallas, TX, attended 
                Texas State University 
                for four years in 
                San Marcos, TX, and moved back to Dallas post-grad where I landed a remote job as a 
                software engineer for Capgemini.
            </p>
            <p>
                I have over 
                <span class="text-primary">7+ years</span>
                of coding experience under my belt and a little over  
                <span class="text-primary">1 year</span>
                of professional experience in the tech field.
            </p>
            <p>
                When I'm not coding, you can find me playing the Nintendo Switch with friends
                or singing and dancing my heart out at a music festival.
            </p>
            <p>(P.s. I'm a HUGE Bad Bunny fan!)</p>
        </div>
    </div>
</div>