<nav class="navbar fixed-top navbar-expand-lg bg-white">
    <div class="container-fluid mx-5">
        <a class="logo navbar-brand" role="button" (click)="redirectTo('/')">VH</a>

        <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
            &#9776;
        </button>

        <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li></li>
            </ul>
  
            <span class="navbar-text">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item mx-3">
                        <a class="nav-link" role="button" (click)="redirectTo('/home')">Home</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" role="button" (click)="redirectTo('/projects')">Projects</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" role="button" (click)="redirectTo('/about')">About</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" role="button" href="assets/pdfs/Resume - Victor Hernandez.pdf" target="_blank">Resume</a>
                    </li>
                </ul>
            </span>
        </div>
    </div>
</nav>