<div class="hidden sm:block">
    <nav class="bg-slate-900 text-slate-400 px-10 py-5 sticky top-0 flex items-center justify-between">
        <a class="text-4xl transition-colors hover:text-slate-100" (click)="setActiveLink('home')" routerLink="/">VH</a>
        <ul class="text-xl flex">
            <li class="ml-10"><a class="transition-colors hover:text-slate-100 {{isActive('home')}}" (click)="setActiveLink('home')" routerLink="/home">Home</a></li>
            <li class="ml-10"><a class="transition-colors hover:text-slate-100 {{isActive('projects')}}" (click)="setActiveLink('projects')" routerLink="/projects">Projects</a></li>
            <li class="ml-10"><a class="transition-colors hover:text-slate-100 {{isActive('arcade')}}" (click)="setActiveLink('arcade')" routerLink="/arcade">Arcade</a></li>
            <li class="ml-10"><a class="transition-colors hover:text-slate-100 {{isActive('about')}}" (click)="setActiveLink('about')" routerLink="/about">About</a></li>
            <li class="ml-10"><a class="transition-colors hover:text-slate-100" href="assets/pdfs/Resume - Victor Hernandez Jr.pdf" target="_blank">Resume</a></li>
        </ul>
    </nav>
</div>