#logo, .nav-link {
    font-size: 1.25em;
    transition: 0.3s;
    color: white;
}

#logo:hover, .nav-link:hover {
    color: gray;
}

#logo {
    font-size: 2.2em;
}

.navbar-toggler {
    color: white;
}