<div class="hidden lg:block">
    <nav class="bg-slate-900 text-slate-400 px-10 py-5 fixed top-0 w-full flex items-center justify-between">
        <a class="text-4xl transition-colors hover:text-slate-100" routerLink="/">VH</a>
        <ul class="text-xl flex">
            <li class="ml-10"><a class="transition-colors hover:text-slate-100 {{isActive('home')}}" routerLink="/home">Home</a></li>
            <li class="ml-10"><a class="transition-colors hover:text-slate-100 {{isActive('projects')}}" routerLink="/projects">Projects</a></li>
            <li class="ml-10"><a class="transition-colors hover:text-slate-100 {{isActive('arcade')}}" routerLink="/arcade">Arcade</a></li>
            <li class="ml-10"><a class="transition-colors hover:text-slate-100 {{isActive('about')}}" routerLink="/about">About</a></li>
            <li class="ml-10"><a class="transition-colors hover:text-slate-100" href="assets/pdfs/Resume - Victor Hernandez Jr.pdf" target="_blank">Resume</a></li>
        </ul>
    </nav>
</div>