<div class="container">
    <div class="summary">
        <div class="image">
            <img src="assets/images/me-closeup.jpg" alt="My professional headshot" id="headshot">
        </div>
        <div class="info">
            <p>Hi there! My name is</p>
            <h1 class="my-3">Victor Hernandez, Jr.</h1>
            <p>
                A first-gen <span class="text-primary">software engineer</span> 
                passionate about creating interactive applications and learning new technologies. 
            </p>
            <div class="links">
                <a href="mailto:victorhernandezjr97@gmail.com?subject=Connecting with Victor Hernandez, Jr."><i class="bi bi-envelope-fill"></i></a>
                <a href="http://linkedin.com/in/victorhernandezjr/" target="_blank"><i class="bi bi-linkedin"></i></a>
                <a href="https://github.com/vichdz97" target="_blank"><i class="bi bi-github"></i></a>
                <a href="https://www.facebook.com/victorhernandez97/" target="_blank"><i class="bi bi-facebook"></i></a>
            </div>
        </div>
    </div>

    <div class="about-me">
        <h2>About me</h2>
        <p>
            I graduated from <span class="text-primary">Texas State University</span> 
            with a Bachelor of Science in Computer Science and a minor in 
            Applied Mathematics.
            Afterwards, I joined <span class="text-primary">Capgemini</span> as a 
            software engineer where I practiced full stack web development.
            I'm currently looking to share my passion for coding with fellow programmers,
            and I'm eager to explore new opportunities!
            If I'm not coding, you'll probably find me competing in Mario Kart.
        </p>
        <div class="fun-facts">
            <h4>Fun Facts:</h4>
            <ul>
                <li>Big Tex Native</li>
                <li>Disney Devotee</li>
                <li>Nintendo Switch Specialist</li>
            </ul>
        </div>
    </div>

    <div class="skills">
        <h2>My Skills</h2>
        <div class="container mt-4">
            <div class="row">
                <div class="col" *ngFor="let skill of skills">
                    <figure>
                        <img src="assets/logos/{{skill.fileName}}.svg" alt="{{skill.name}} logo">
                        <figcaption>{{ skill.name }}</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <div class="projects">
        <h2>My Projects</h2>
        <div class="container">
            <div class="row">
                <div class="col box bg-light" *ngFor="let proj of projects">
                    <h4>{{ proj.title }}</h4>
                    <a href="{{proj.url}}" target="_blank">
                        <img src="assets/images/{{proj.img}}" alt="Screenshot of project" class="screenshot my-3">
                    </a>
                    <h6>Technologies Used:</h6>
                    <div class="m-2 d-flex justify-content-around align-items-center">
                        <div *ngFor="let techName of proj.tech">
                            <img src="assets/logos/{{techName}}.svg" alt="Tech logo" class="tech-used">
                        </div>
                    </div>
                    <p>{{ proj.description }}</p>
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="{{proj.url}}" target="_blank" class="mx-4" [hidden]="!proj.url"><i class="bi bi-globe2"></i></a>
                        <a href="{{proj.github}}" target="_blank"><i class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <p class="view-more text-center" role="button" routerLink="/projects">View More ></p>
    </div>

    <div class="contact-me">
        <h2>Contact Me</h2>
        <div class="container mt-4">
            <form [formGroup]="contactForm" (ngSubmit)="sendEmail()" class="rounded shadow p-3 bg-light">
                <div class="row">
                    <div class="form-group col">
                        <label for="fullName">Name<span class="form-label text-danger"> *</span></label>
                        <input type="text" id="fullName" class="form-control" formControlName="name" placeholder="Your Name" required
                            [ngStyle]="hasErrors(nameControl) ? {'border-color':'#dc3545'} : {}">
                        <app-inline-error [control]="nameControl"></app-inline-error>    
                    </div>
                    <div class="form-group col-md-6">
                        <label for="emailAddress">Email<span class="text-danger"> *</span></label>
                        <input type="email" id="emailAddress" class="form-control" formControlName="email" placeholder="your@email.com" required
                            [ngStyle]="hasErrors(emailControl) ? {'border-color':'#dc3545'} : {}">
                        <app-inline-error [control]="emailControl"></app-inline-error>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="subjectTitle">Subject<span class="text-danger"> *</span></label>
                        <input type="text" id="subjectTitle" class="form-control" formControlName="subject" placeholder="Subject Title" required
                            [ngStyle]="hasErrors(subjectControl) ? {'border-color':'#dc3545'} : {}">
                        <app-inline-error [control]="subjectControl"></app-inline-error>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="messageArea">Message<span class="text-danger"> *</span></label>
                        <textarea id="messageArea" class="form-control" formControlName="message" rows="3" placeholder="Your Message" required
                            [ngStyle]="hasErrors(messageControl) ? {'border-color':'#dc3545'} : {}"></textarea>
                        <app-inline-error [control]="messageControl"></app-inline-error>
                    </div>
                </div>
                <div class="successBtnMsg">
                    <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">Send</button>
                    <p class="text-success">{{ sendAnotherMsg() ? '' : confirmation }}</p>
                </div>
            </form>
        </div>
    </div>
</div>