<div class="container">
    <div class="summary">
        <div class="image">
            <img src="assets/images/me-closeup.jpg" alt="My professional headshot" id="headshot">
        </div>
        <div class="info">
            <p>Hi there! My name is</p>
            <h1 class="my-3">Victor Hernandez, Jr.</h1>
            <p>
                A first-gen <span class="text-primary">software engineer</span> 
                passionate about creating interactive applications and learning new technologies. 
            </p>
            <div class="links">
                <a href="mailto:victorhernandezjr97@gmail.com?subject=Connecting with Victor Hernandez, Jr."><i class="bi bi-envelope-fill"></i></a>
                <a href="http://linkedin.com/in/victorhernandezjr/" target="_blank"><i class="bi bi-linkedin"></i></a>
                <a href="https://github.com/vichdz97" target="_blank"><i class="bi bi-github"></i></a>
                <a href="https://www.facebook.com/victorhernandez97/" target="_blank"><i class="bi bi-facebook"></i></a>
            </div>
        </div>
    </div>

    <div class="about-me">
        <h2>About Me</h2>
        <p>
            I graduated from 
            <a href="https://www.txst.edu" id="txst-link" class="text-primary" target="_blank">Texas State University</a>
            with a Bachelor of Science in Computer Science and a minor in Applied Mathematics.

            Afterwards, I joined 
            <a href="https://www.capgemini.com" id="capgemini-link" class="text-primary" target="_blank">Capgemini</a> 
            as a Software Engineer where I practiced full stack web development for just over a year.

            Currently I'm a freelance AI Data Trainer with
            <a href="https://www.dataannotation.tech" id="data-link" class="text-primary" target="_blank">Data Annotation Tech</a> 
            where I evaluate AI model responses and review/edit coding solutions.

            I'm always eager to explore new opportunities and love to share my passion for coding 
            with fellow programmers!

            If I'm not coding, you'll probably find me competing in 
            <a href="https://www.smashbros.com/en_US/" id="smash-link" class="text-primary" target="_blank">Smash</a>.

        </p>
        <div class="fun-facts">
            <h4>Fun Facts:</h4>
            <ul>
                <li id="texas"><span>Big Tex Native</span></li>
                <li id="disney"><span>Disney Devotee</span></li>
                <li id="switch"><span>Nintendo Switch Specialist</span></li>
            </ul>
        </div>
    </div>

    <div id="my-skills">
        <h2>My Skills</h2>
        <div class="row mt-4 d-flex align-items-baseline justify-content-evenly flex-wrap">
            <div class="col" *ngFor="let skill of skills">
                <figure>
                    <ng-container *ngIf="skill.name == 'AWS'; else notAWS">
                        <img id="skill-logo" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/{{skill.fileName}}/{{skill.fileName}}-original-wordmark.svg" alt="{{skill.name}} logo" />
                    </ng-container>
                    <ng-template #notAWS>
                        <img id="skill-logo" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/{{skill.fileName}}/{{skill.fileName}}-original.svg" alt="{{skill.name}} logo" />
                    </ng-template>
                    <figcaption>{{ skill.name }}</figcaption>
                </figure>
            </div>
        </div>
    </div>

    <div class="projects">
        <h2>My Projects</h2>
        <div class="container">
            <div class="row">
                <div class="col box bg-light d-flex flex-column justify-content-evenly" *ngFor="let proj of projects">
                    <h4>{{ proj.title }}</h4>
                    <ng-container *ngIf="proj.url; else noUrl">
                        <a href="{{proj.url}}" target="_blank">
                            <img src="assets/images/{{proj.img}}" alt="Screenshot of project" class="screenshot my-3">
                        </a>
                    </ng-container>
                    <ng-template #noUrl>
                        <img src="assets/images/{{proj.img}}" alt="Screenshot of project" class="screenshot my-3">
                    </ng-template>
                    <ng-container *ngIf="proj.tech.length >= 4; else sameline">
                        <h6>Technologies Used:</h6>
                        <div class="m-2 d-flex justify-content-evenly align-items-center">
                            <div *ngFor="let techName of proj.tech">
                                <img src="assets/logos/{{techName}}.svg" alt="Tech logo" class="tech-used">
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #sameline>
                        <h6 class="d-flex align-items-center">
                            Technologies Used:
                            <div *ngFor="let techName of proj.tech">
                                <img src="assets/logos/{{techName}}.svg" alt="Tech logo" class="tech-used" id="sameline-img">
                            </div>
                        </h6>
                    </ng-template>
                    <p>{{ proj.description }}</p>
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="{{proj.url}}" target="_blank" class="mx-4" [hidden]="!proj.url"><i class="bi bi-globe2"></i></a>
                        <a href="{{proj.github}}" target="_blank"><i class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <p class="view-more text-center" role="button" routerLink="/projects">View More ></p>
    </div>

    <div class="arcade">
        <h2>My Arcade</h2>
        <div class="container">
            <div class="row">
                <div class="col box bg-light d-flex flex-column justify-content-evenly" *ngFor="let game of games">
                    <h4>{{game.title}}</h4>
                    <ng-container *ngIf="game.url; else noUrl">
                        <a href="{{game.url}}" target="_blank">
                            <img src="assets/images/{{game.img}}" alt="Screenshot of game" class="screenshot my-3">
                        </a>
                    </ng-container>
                    <ng-template #noUrl>
                        <img src="assets/images/{{game.img}}" alt="Screenshot of game" class="screenshot my-3">
                    </ng-template>
                    <h6 class="d-flex align-items-center">
                        Technologies Used:
                        <div *ngFor="let techName of game.tech">
                            <img src="assets/logos/{{techName}}.svg" alt="Tech logo" class="tech-used" id="sameline-img">
                        </div>
                    </h6>
                    <p>{{game.description}}</p>
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="{{game.url}}" target="_blank" class="mx-4" [hidden]="!game.url"><i class="bi bi-globe2"></i></a>
                        <a href="{{game.github}}" target="_blank"><i class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <p class="view-more text-center" role="button" routerLink="/arcade">View More ></p>
    </div>

    <div class="contact-me">
        <h2>Contact Me</h2>
        <div class="container mt-4">
            <form [formGroup]="contactForm" (ngSubmit)="sendEmail()" class="rounded shadow p-3 bg-light">
                <div class="row">
                    <div class="form-group col">
                        <label for="fullName">Name<span class="form-label text-danger"> *</span></label>
                        <input type="text" id="fullName" class="form-control" formControlName="name" placeholder="Your Name" required
                            [ngStyle]="hasErrors(nameControl) ? {'border-color':'#dc3545'} : {}">
                        <app-inline-error [control]="nameControl"></app-inline-error>    
                    </div>
                    <div class="form-group col-md-6">
                        <label for="emailAddress">Email<span class="text-danger"> *</span></label>
                        <input type="email" id="emailAddress" class="form-control" formControlName="email" placeholder="your@email.com" required
                            [ngStyle]="hasErrors(emailControl) ? {'border-color':'#dc3545'} : {}">
                        <app-inline-error [control]="emailControl"></app-inline-error>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="subjectTitle">Subject<span class="text-danger"> *</span></label>
                        <input type="text" id="subjectTitle" class="form-control" formControlName="subject" placeholder="Subject Title" required
                            [ngStyle]="hasErrors(subjectControl) ? {'border-color':'#dc3545'} : {}">
                        <app-inline-error [control]="subjectControl"></app-inline-error>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="messageArea">Message<span class="text-danger"> *</span></label>
                        <textarea id="messageArea" class="form-control" formControlName="message" rows="3" placeholder="Your Message" required
                            [ngStyle]="hasErrors(messageControl) ? {'border-color':'#dc3545'} : {}"></textarea>
                        <app-inline-error [control]="messageControl"></app-inline-error>
                    </div>
                </div>
                <div class="successBtnMsg">
                    <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">Send</button>
                    <p class="text-success">{{ sendAnotherMsg() ? '' : confirmation }}</p>
                </div>
            </form>
        </div>
    </div>
</div>