<div class="container projects">
    <h2>My Projects</h2>
    <div class="container">
        <div class="row">
            <div class="col box bg-light" *ngFor="let proj of projects">
                <h4>{{ proj.title }}</h4>
                <img src="assets/images/{{proj.img}}" alt="Screenshot of project" class="screenshot my-3">
                <h6 class="d-flex align-items-center">
                    Technologies Used:
                    <div *ngFor="let techName of proj.tech">
                        <img src="assets/logos/{{techName}}.svg" alt="Tech logo" class="tech-used">
                    </div>
                </h6>
                <p>{{ proj.description }}</p>
                <div class="d-flex justify-content-end align-items-center">
                    <a href="{{proj.web}}" target="_blank" class="mx-4" [hidden]="!proj.web"><i class="bi bi-globe2"></i></a>
                    <a href="{{proj.url}}" target="_blank"><i class="bi bi-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>