.projects {
    margin-top: 10vw;
    margin-bottom: 5vw;
}

.box {
    min-width: 500px;
    max-width: 960px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px lightgray;
    margin: 2vw;
    padding: 2vw;
    transition: 0.5s;
}

.box:hover {
    box-shadow: 10px 10px 20px lightgray;
    transition: 0.5s;
}

.screenshot {
    width: 100%;
    border-radius: 20px;
    border: 0.5px solid lightgray;
}

.tech-used {
    width: 3vw;
    margin-left: 1.5vw;
}

.box .bi {
    font-size: 2vw;
}