<div class="container">
    <div class="projects">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col box bg-light d-flex flex-column justify-content-between" *ngFor="let proj of projects">
                    <h4>{{ proj.title }}</h4>
                    <ng-container *ngIf="!proj.url; else link">
                        <img src="assets/images/{{proj.img}}" alt="Screenshot of project" class="screenshot my-3">
                    </ng-container>
                    <ng-template #link>
                        <a href="{{proj.url}}" target="_blank">
                            <img src="assets/images/{{proj.img}}" alt="Screenshot of project" class="screenshot my-3">
                        </a>
                    </ng-template>
                    <ng-container *ngIf="proj.tech.length >= 4; else sameline">
                        <h6>Technologies Used:</h6>
                        <div class="m-2 d-flex justify-content-evenly align-items-center">
                            <div *ngFor="let techName of proj.tech">
                                <img src="assets/logos/{{techName}}.svg" alt="Tech logo" class="tech-used">
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #sameline>
                        <h6 class="d-flex align-items-center">
                            Technologies Used:
                            <div *ngFor="let techName of proj.tech">
                                <img src="assets/logos/{{techName}}.svg" alt="Tech logo" class="tech-used" id="sameline-img">
                            </div>
                        </h6>
                    </ng-template>
                    <p>{{ proj.description }}</p>
                    <div class="d-flex justify-content-end">
                        <a href="{{proj.url}}" target="_blank" class="mx-4" [hidden]="!proj.url"><i class="bi bi-globe2"></i></a>
                        <a href="{{proj.github}}" target="_blank"><i class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>