.projects {
    margin: 5em auto 2em;
}

.box {
    min-width: fit-content;
    border-radius: 20px;
    box-shadow: 4px 4px 10px lightgray;
    margin: 1.5em;
    padding: 1.5em;
}

.screenshot {
    width: 100%;
    border-radius: 20px;
    border: 0.5px solid lightgray;
}

.tech-used {
    width: 1.5em;
    margin-left: 0.7em;
}

i {
    font-size: 1.5em;
}

@media screen and (min-width: 960px) {
    .projects {
        margin: 7vw auto 5vw;
    }

    .box {
        min-width: 500px;
        margin: 2vw;
        padding: 2vw;
        transition: 0.5s;
    }

    .box:hover {
        box-shadow: 10px 10px 20px lightgray;
    }

    .tech-used {
        width: 3vw;
        margin-left: 1.5vw;
    }

    i {
        font-size: 2vw;
    }
}