<div class="bg-blue-100 text-slate-900 flex flex-col justify-center text-2xl text-center px-5 py-10 lg:text-[2vw] lg:text-justify lg:px-48 lg:py-24">
    <div class="flex flex-col lg:flex-row items-center justify-center lg:justify-start">
        <lucide-icon name="user-round" [size]="32" [strokeWidth]="1.5" />
        <h1 class="font-medium text-3xl mt-4 lg:mt-0 lg:ml-3">About Me</h1>
    </div>
    <p class="my-5">
        I graduated from 
        <a class="text-blue-500 hover:text-blue-700 transition-colors" href="https://www.txst.edu" target="_blank">Texas State University</a>
        with a Bachelor of Science in Computer Science and a minor in Applied Mathematics.

        Afterward, I joined 
        <a class="text-blue-500 hover:text-blue-700 transition-colors" href="https://www.capgemini.com" target="_blank">Capgemini</a> 
        as a Software Engineer, where I practiced full-stack web development for just over a year.

        Now, I'm a freelance AI Data Trainer with
        <a class="text-blue-500 hover:text-blue-700 transition-colors" href="https://www.dataannotation.tech" target="_blank">Data Annotation Tech</a>, 
        where I evaluate AI model responses and review/edit coding solutions.

        I'm always eager to explore new opportunities and to share my passion for coding 
        with fellow programmers!

        If I'm not coding, you'll probably find me competing in 
        <a class="text-blue-500 hover:text-blue-700 transition-colors" href="https://www.smashbros.com/en_US/" target="_blank">Smash</a>.
    </p>
    <div>
        <p class="font-medium mb-2">Fun Facts:</p>
        <ul>
            <li class="flex">
                <img class="object-scale-down" src="assets/images/texas.png" alt="Texas logo" />
                <span class="ml-3">Totally Texan</span>
            </li>
            <li class="flex">
                <img class="object-scale-down" src="assets/images/disney.png" alt="Disney logo" />
                <span class="ml-3">Disney Devotee</span>
            </li>
            <li class="flex">
                <img class="object-scale-down" src="assets/images/switch.png" alt="Switch logo" />
                <span class="ml-3">Switch Specialist</span>
            </li>
        </ul>
    </div>
</div>