<div class="container">
    <div class="summary d-flex justify-content-around align-items-center">
        <div class="image">
            <img src="assets/images/me-closeup.jpg" alt="My professional headshot" id="headshot">
        </div>
        <div class="info">
            <p>Hi there! My name is</p>
            <h1>Victor Hernandez, Jr.</h1>
            <p>
                A first-gen <span class="text-primary">software engineer</span> 
                passionate about creating interactive applications and learning new technologies. 
            </p>
            <div class="links d-flex flex-row">
                <a href="http://linkedin.com/in/victorhernandezjr/" target="_blank"><i class="bi bi-linkedin"></i></a>
                <a href="https://github.com/vichdz97" class="mx-5" target="_blank"><i class="bi bi-github"></i></a>
                <a href="https://www.facebook.com/victorhernandez97/" target="_blank"><i class="bi bi-facebook"></i></a>
            </div>
        </div>
    </div>

    <div class="about-me">
        <h2>About me</h2>
        <p>
            I graduated from <span class="text-primary">Texas State University</span> 
            with a Bachelor of Science in Computer Science and a minor in 
            Applied Mathematics.
            Afterwards, I joined <span class="text-primary">Capgemini</span> as a 
            software engineer where I practiced full stack web development.
            I'm currently looking to share my passion for coding with fellow programmers,
            and I'm eager to explore new opportunities!
            If I'm not coding, you'll probably find me competing in Mario Kart.
        </p>
        <h3>Fun Facts:</h3>
        <ul>
            <li>Big Tex Native</li>
            <li>Disney Devotee</li>
            <li>Nintendo Switch Specialist</li>
        </ul>
    </div>

    <div class="skills">
        <h2>My Skills</h2>
        <div class="container mt-4">
            <div class="row">
                <div class="col" *ngFor="let skill of skills">
                    <figure>
                        <img src="assets/logos/{{skill.fileName}}.svg" alt="{{skill.name}} logo">
                        <figcaption>{{ skill.name }}</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <div class="projects">
        <h2>My Projects</h2>
        <div class="container">
            <div class="row">
                <div class="col box" *ngFor="let proj of projects">
                    <h4>{{ proj.title }}</h4>
                    <h6 class="d-flex align-items-center">
                        Technologies Used:
                        <div *ngFor="let techName of proj.tech">
                            <img src="assets/logos/{{techName}}.svg" alt="Tech logo" class="tech-used">
                        </div>
                    </h6>
                    <p>{{ proj.description }}</p>
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="#" class="text-primary">Live</a>
                        <span class="mx-3">|</span>
                        <a href="https://github.com/{{proj.url}}" target="_blank"><i class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <p class="view-more text-center mt-2" routerLink="/projects">View More ></p>
    </div>
</div>