.summary {
    max-width: 960px;
    margin: 15vw auto 20vw;
}

#headshot {
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-position: 0 40%;
    border-radius: 50%;
}

.image {
    margin: 0 5vw;
}

.info {
    font-size: 2vw;
}

.about-me {
    font-size: 2vw;
    margin-bottom: 15vw;
}

.skills {
    margin-bottom: 15vw;
}

figure {
    text-align: center;
}

figure img {
    width: 8vw;
    transition: 0.5s;
}

figure img:hover {
    transform: translateY(-5%);
    transition: 0.5s;
}

.projects {
    margin-bottom: 15vw;
}

.box {
    min-width: 500px;
    max-width: 960px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px lightgray;
    margin: 2vw;
    padding: 2vw;
    transition: 0.5s;
}

.box:hover {
    box-shadow: 10px 10px 20px lightgray;
    transition: 0.5s;
}

.view-more {
    transition: 0.3s;
}

.view-more:hover {
    cursor: pointer;
    color: gray;
    transition: 0.3s;
}