#headshot {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 0 40%;
    border-radius: 50%;
}

.image {
    margin: 0 5%;
}

.info {
    font-size: 2vw;
}

.about-me {
    font-size: 1.75vw;
}

figure {
    text-align: center;
}

figure img {
    width: 8vw;
    transition: 0.5s;
}

figure img:hover {
    transform: translateY(-5%);
    transition: 0.5s;
}