<!-- MOBILE -->
<div class="block lg:hidden">
    <nav class="fixed bottom-0 w-full bg-slate-900 text-slate-400 py-7">
        <ul class="flex justify-evenly">
            <li><a class="transition-colors hover:text-slate-100 {{isActive('home')}}" title="Home" (click)="setActiveLink('home')" routerLink="/home"><lucide-icon name="house" [strokeWidth]="1.5"></lucide-icon></a></li>
            <li><a class="transition-colors hover:text-slate-100 {{isActive('projects')}}" title="Projects" (click)="setActiveLink('projects')" routerLink="/projects"><lucide-icon name="code" [strokeWidth]="1.5"></lucide-icon></a></li>
            <li><a class="transition-colors hover:text-slate-100 {{isActive('arcade')}}" title="Arcade" (click)="setActiveLink('arcade')" routerLink="/arcade"><lucide-icon name="joystick" [strokeWidth]="1.5"></lucide-icon></a></li>
            <li><a class="transition-colors hover:text-slate-100 {{isActive('about')}}" title="About Me" (click)="setActiveLink('about')" routerLink="/about"><lucide-icon name="user-round" [strokeWidth]="1.5"></lucide-icon></a></li>
            <li><a class="transition-colors hover:text-slate-100" title="Resume" href="assets/pdfs/Resume - Victor Hernandez Jr.pdf" target="_blank"><lucide-icon name="file-text" [strokeWidth]="1.5"></lucide-icon></a></li>
        </ul>
    </nav>
</div>

<!-- DESKTOP -->
<div class="hidden lg:block">
    <footer class="bg-slate-900 text-slate-400 p-10 flex items-center justify-between">
        <p class="text-sm">&#169; 2025 Victor Hernandez, Jr.</p>
        <ul class="flex">
            <li class="ml-10">
                <a class="transition-colors hover:text-slate-100" title="GitHub" href="https://github.com/vichdz97" target="_blank">
                    <lucide-icon name="github" [strokeWidth]="1.5" />
                </a>
            </li>
            <li class="ml-10">
                <a class="transition-colors hover:text-slate-100" title="LinkedIn" href="http://linkedin.com/in/victorhernandezjr/" target="_blank">
                    <lucide-icon name="linkedin" [strokeWidth]="1.5" />
                </a>
            </li>
            <li class="ml-10">
                <a class="transition-colors hover:text-slate-100" title="Facebook" href="https://www.facebook.com/victorhernandez97/" target="_blank">
                    <lucide-icon name="facebook" [strokeWidth]="1.5" />
                </a>
            </li>
            <li class="ml-10">
                <a class="transition-colors hover:text-slate-100" title="Email" href="mailto:victorhernandezjr97@gmail.com?subject=Connecting with Victor Hernandez, Jr.">
                    <lucide-icon name="mail" [strokeWidth]="1.5" />
                </a>
            </li>
        </ul>
    </footer>
</div>