footer {
    padding: 20px;
}

#mobile-view {
    position: sticky;
    bottom: 0;
}

i {
    font-size: 25px;
    font-weight: bolder;
}

i, #copyright {
    color: gray;
}

#dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-top: 40px;
    margin-left: 10px;
    background-color: white;
    position: absolute;
    transition: 0.2s;
    z-index: -1;
}

@media screen and (min-width: 960px) {
    .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: baseline;
    }
    
    .links {
        display: flex;
        justify-content: space-between;
        width: 25%;
    }

    i {
        font-size: 2vw;
        transition: 0.5s;
    }
    
    i:hover {
        color: white;
    }
}