footer {
    padding: 4vw ;
}

.container {
    text-align: center;
}

.links {
    margin-bottom: 1em;
}

i {
    margin: 1em;
    font-size: 1.5em;
}

i, .copyright {
    color: gray;
}

@media screen and (min-width: 960px) {
    .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: baseline;
    }
    
    .links {
        display: flex;
        justify-content: space-between;
        width: 25%;
    }

    i {
        font-size: 2vw;
        transition: 0.5s;
    }
    
    i:hover {
        color: white;
    }
}